// Backgrounds Mono
$bg6: #fff;
$bg1: #000;

// Colors for light theme
// General background
$background: #f3f6fd;
// Color text
$titles: #000;
$subtitles: #999;
$text: #000;
$textRed: #860000;
$textSelected: #fff;
// background text
$textBg: #353b42;
// Color icons
$icons: #000;
$iconsSelected: #fff;
// background text
$iconsBg: #000;

$containerGeneral: #fff;
// background very transparent
$containerColor1: #c3cff4;
$containerColor2: #0f01;
$containerColor3: #00f1;
// background transparent
$containerColor4: #c3cff;
$containerColor5: #fff4;
$containerColor6: rgb(1, 50, 248);