// Pallete
$color1: #E63946;
$color2: #F1FAEE;
$color3: #A8DADC;
$color4: #457B9D;
$color5: #1D3557;

// Colors for light theme
// General background
$background: #F1FAEE;
// Color text dark
$titleDark: #1D3557;
$subtitleDark: #457B9D;
$textDark: #1D3557;

$titleLight: #A8DADC;
$subtitleLight: #F1FAEE;
$textLight: #fff;

$textAlert: #E63946;


// Backgrounds Mono
$bg6: #fff;
$bg1: #000;

// Colors for light theme
// General background
$background: #f3f6fd;
// Color text
$titles: #000;
$subtitles: #999;
$text: #000;
$textRed: #860000;
$textSelected: #fff;
// background text
$textBg: #353b42;
// Color icons
$icons: #000;
$iconsSelected: #fff;
// background text
$iconsBg: #000;

$containerGeneral: #fff;
// background very transparent
$containerColor1: #c3cff4;
$containerColor2: #0f01;
$containerColor3: #00f1;
// background transparent
$containerColor4: #c3cff;
$containerColor5: #fff4;
$containerColor6: rgb(1, 50, 248);